<section>
  <div class="header">
      <div class="logo" style="float:left;width:130px;">
        <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 154 96" height="96" width="154" xml:space="preserve" version="1">
            <g transform="matrix(1.3333333,0,0,-1.3333333,0,96.173333)">
                <g transform="scale(0.1)">
                    <path d="M440 282H341C401 322 453 390 383 431 448 364 339 302 264 282h-40v178c27 4 58 5 95 0-28 8-61 14-95 17v20H389C329 457 278 389 347 349c-57 60 22 114 92 140V282" fill="#5f7ebd"></path>
                    <path d="m873 364c0-16 0-33-1-49-1-11 0-23-12-26-4-1-16 0-9-5 3-2 15 0 18 0 13 0 25 0 38 0 5 0 27-4 30 0 5 6-7 4-10 5-14 1-18 6-19 20-2 23-1 46-1 69 0 19 0 37 0 56 0 12-4 39 2 50 5 8 10 4 17 7 6 3 5 4-1 5-13 2-27-1-40-1-4 0-36 4-37-1-1-4 15-4 17-5 6-3 7-9 7-15 3-36 1-73 1-109" fill="#244f99"></path>
                    <path d="m225 215v1c2 0 2 1 2 4v29c0 3-1 4-2 4v0h12v0c-2 0-3-1-3-4v-29c0-3 1-4 3-4v-1h-12v0M299 249v-36l-28 34v-28c0-2 1-4 3-4v-1h-9v1c2 0 3 1 3 4v29c0 3-1 4-3 4v0h9l21-26v21c0 3-1 4-3 4v0h8v0c-2 0-2-1-2-4v0M360 248l-1 0c0 2-1 2-8 2h-4V220c0-3 1-4 3-4v-1h-12v1c2 0 3 1 3 4v31h-5c-6 0-7 0-7-2l-1 0-1 5h33l-1-5v0M413 215h-24v1c2 0 2 1 2 4v30c0 3-1 4-3 4v0h24l-1-5-1 0c0 2-1 2-7 2h-6v-14h6c7 0 7 1 7 2h1v-8h-1c0 2-1 2-7 2h-6v-12c0-3 1-3 4-3h6c3 0 6 1 7 3l1 0-3-6v0M475 215v1c-1 0-2 1-4 3l-10 15c3 1 7 4 7 10 0 12-13 10-15 10h-11v0c2 0 3-2 3-4v-29c0-3-1-4-3-4v-1h12v1c-2 0-3 1-3 4v12c1 0 2 0 3 0l11-17h9zm-13 28c0-5-3-8-9-8h-1v16h2c5 0 8-3 8-8v0M535 249v-36l-28 34v-28c0-2 1-4 3-4v-1h-9v1c2 0 3 1 3 4v29c0 3-1 4-3 4v0h9l21-26v21c0 3-1 4-3 4v0h8v0c-2 0-2-1-2-4v0M599 215v1c-1 0-2 1-3 3l-13 35h-7v0c0 0 2 0 1-3L565 218c0-1-2-2-3-2v-1h7v1c-1 0-2 1-1 3l4 10h13l4-10c1-1 0-3-1-3v-1h12zm-15 16h-11l6 16 6-16v0M650 248l-1 0c0 2-1 2-8 2h-4V220c0-3 1-4 3-4v-1h-12v1c2 0 3 1 3 4v31h-5c-6 0-7 0-7-2l-1 0-1 5h33l-1-5v0M679 215v1c2 0 2 1 2 4v29c0 3-1 4-2 4v0h12v0c-2 0-3-1-3-4v-29c0-3 1-4 3-4v-1h-12v0M760 234c0 11-8 20-20 20-14 0-21-10-21-20 0-10 7-20 20-20 14 0 20 10 20 20zm-7 0c0-14-8-17-13-17-10 0-13 9-13 17 0 12 6 17 13 17 9 0 13-8 13-16v0M822 249v-36l-28 34v-28c0-2 1-4 3-4v-1h-9v1c2 0 3 1 3 4v29c0 3-1 4-3 4v0h9l21-26v21c0 3-1 4-3 4v0h8v0c-2 0-2-1-2-4v0M887 215v1c-1 0-2 1-3 3L871 253h-7v0c0 0 2 0 1-3l-12-32c-1-1-2-2-3-2v-1h7v1c-1 0-2 1-1 3l4 10h14l4-10c1-1 0-3-1-3v-1h12zm-15 16H861l6 16 6-16v0M937 215h-24v1c1 0 2 1 2 4v29c0 3-1 4-3 4v0h12v0c-1 0-2 0-2-4v-29c0-2 1-3 3-3h4c4 0 8 1 9 3l1 0-3-6v0" fill="#244f99"></path>
                    <path d="m482 365c0-15 0-29 0-44 0-9 1-25-7-31-3-2-27-4-12-7 10-2 24 1 35 1 10 0 19-1 29-1 4 0 12-2 16 0 7 4-2 5-6 5-12 1-18 2-20 15-2 11-1 22-2 33 0 31 0 62 0 92 0 13 0 26 0 39 0 3-1 8 0 11 3 8 18 6 26 5 28-6 38-36 34-62-2-15-9-28-21-37-2-1-33-17-34-15 2-3 17 2 20 2 6-1 7-2 10-7 12-14 22-31 33-46 9-12 19-25 32-31 11-5 23-4 35-4 3 0 25-2 25 3 0-1-27 9-30 11-14 9-25 24-35 37-13 16-26 33-39 49 27 19 49 55 31 88-18 31-61 27-92 26-15 0-30 0-45 1-5 0-20-1-8-5 7-2 14 1 20-5 5-5 4-16 4-23 0-12 0-25 0-37 0-21 0-41 0-62M782 494c11 0 23 2 34 2 8 0 9-1 11-9 1-7 3-13 4-20 1-6 1-12-5-6-5 5-4 12-11 15-7 3-16 3-24 3-14 1-28 1-42 1 0-26 0-53 1-79 0-12 0-23 0-35 0-10 0-21 0-31 0-11-2-27 3-37 2-5 5-6 9-8 3-1 15 1 18-2 5-5-11-4-12-4-9 0-18 0-26 1-10 0-21 0-31 0-9 0-30 1-9 5 21 4 14 49 14 65 0 11 0 23 0 34 0 30 0 61 0 91-18 0-42 3-60-3-8-3-9-7-13-13-4-7-6-7-6 2 0 8 2 28 9 32 7 3 23-1 30-2 4 0 8 0 12 0 10 0 19 0 29 0 22 0 44 0 66 0" fill="#244f99"></path>
                </g>
            </g>
        </svg>
    </div>
    </br>
    <h1 class="title">{{ title }}</h1>
    <div style="clear: both"></div>
  </div>
  </br>
</section>

<h2>API endpoints</h2>

<ul>
{% for name in endpoints %}
  <li><a href="/v1/{{ name }}">{{ name }}</a></li>
{% endfor %}
</ul>

{% if examples.size > 0 %}
  <h2>Examples</h2>

  <ul>
  {% for ex in examples %}
    <li><a href="{{ ex.link }}">{{ ex.name }}</a> {{ ex.description }}</li>
  {% endfor %}
  </ul>
{% endif %}

<h2 class="bottom-margin">Browse Data Details by Category</h2>
<div class="categories">
  <div id="categories-list" class="categories__column"></div>
</div>

<script>
  var categories = {{ categories }} ;
  if (categories === null)
    var oneColumn = "Sorry, no categories have been added yet.";
  else {
    var oneColumn = "";
    for (var i in categories) {
      oneColumn = oneColumn +
        "<div class=\"category\">" +    // put box around category block
        "<a href=\"/category/" + i + "\">" +    // make whole div into a link
          "<div class=\"category__name\">" + categories[i].title + "</div>" +
          "<p>" + categories[i].description + "</p>" +
        "</a>" +
        "</div>";
    }
  }
//  alert(oneColumn);
  document.getElementById("categories-list").innerHTML=oneColumn;
</script>
